<header class="site-header">

  <div class="grid-container">
    <div class="grid-15 mobile-grid-20 most-left-cell" style="width: 140px; padding: 0.55em 1em 0.55em 0;">
      <%= render 'general/orglink' %>
    </div>

    <div class="grid-30">
      <nav class="nav-main">
        <%= render 'general/topnav' %>
      </nav>
    </div>

    <div class="grid-30">
      <%= form_tag search_redirect_path, method: :post, class: 'form-search' do %>
        <%= text_field_tag 'header-query', params[:query], size: 40, title: 'type your search term here' %>
        <span class="submit"><%= submit_tag 'search' %></span>
      <% end %>
    </div>
    <div class="grid-15" style="float: right;">
      <% if @user %>
      <ul class="login-stuff">
        <li>
          <%= link_to(show_user_requests_path(url_name: @user.url_name), class: 'btn-flag') do %>
            <%= _("My requests") %>
            <span class="unread-messages">2</span>
          <% end %>
        </li>
        <li class="btn-user">
          <input type="checkbox" class="show-drop-menu" />
          <ol class="user-drop-menu">
            <li><%= _('Hello, {{username}}!', :username => h(@user.name))%></li>
            <li class="icon-dahsboard"><%= link_to _("My wall"), show_user_wall_path(url_name: @user.url_name) %></li>
            <li class="icon-settings"><%= link_to _("My profile"), show_user_profile_path(url_name: @user.url_name) %></li>
            <li class="icon-logout"><%= link_to _("Sign out"), signout_path(r: request.fullpath) %></li>
          </ol>
        </li>

      </ul>
        <%#= _('Hello, {{username}}!', username: h(@user.name))%>

      <% else %>
        <%= link_to _("Sign in or sign up"), signin_path(r: request.fullpath), class: 'sign-in' %>
      <% end %>
    </div>
  </div>
</header>



<div id="banner">
  <div id="banner_inner" class="grid-container">
    <div class="grid-100">
      <%= yield :header_title %>
    </div>

    <!--
    <div class="lang grid-20"><%= render :partial => 'general/locale_switcher' %></div>
    -->

    <div class="clear"></div>
    <%=
        # render :partial => 'general/topnav'
    %>
  </div>
</div>
