<% content_for :header_title do %>
  <h1 class="grid-100"><%= @title %></h1>
<% end %>
<div id="header_left">
  <%= render :partial => 'request/request_filter_form' %>
</div>

<div class="results_section">
  <% if key = request_list_cache_key %>
      <% cache_if_caching_fragments(key, :expires_in => 5.minutes) do %>
          <%= render :partial => 'list_results' %>
      <% end %>
  <% else %>
      <%= render :partial => 'list_results' %>
  <% end %>
  <% if @track_thing %>
    <h3><%= _("Follow these requests") %></h3>
    <%= render :partial => 'track/tracking_links', :locals => { :track_thing => @track_thing, :own_request => false, :location => 'main' } %>
  <% end %>
</div>

<div style="clear:both"></div>

